

$bs-green: #5e5a49;

// h1 {
//     color:#5e5a49
// }

$primary: #0074d9;
$danger: #ff4136;
// $success: #cecab5;

$theme-colors: (
    green: #5e5a49,
    primary: $primary,
    danger: $danger,
);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// $custom-colors: (
//   "myGreen": #5e5a49
// );

// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);


// @import '~bootstrap/scss/bootstrap.scss';


@import "../node_modules/bootstrap/scss/root";
